<!DOCTYPE html>
<html lang="en">

<head>
    <title>Diabetes Check</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icons/favicon.ico') }}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">

        <div class="container-login100" style="margin: 0 auto;">

            <div class="wrap-login100" style="margin: 0 auto;">
                <h2 style="margin: 0 auto;">
                    You, Need to do more work
                </h2>
                <h1> </h1>
                <h1> </h1>
                <br /><br /><br />
                <h1> </h1>
                <h1> </h1>
                <h1> </h1>
                <h1> </h1>
                <h1> </h1>
                <div class="login100-pic js-tilt" data-tilt style="margin: 0 auto;">
                    </span>
                    <img src="{{url_for('static', filename='images/592d7eb9872ba2f469a74db7d6f17447.gif') }}" alt="IMG" style="margin: 0 auto; height: 300px; width: 1000px">
                </div>
                <br /><br /><br />
                <h1> </h1>
                <h1> </h1>
                <h1> </h1>
                <h1> </h1>
                <h1> </h1>
                <span class="login100-form-title">
            </div>
        </div>
    </div>



    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='vendor/tilt/tilt.jquery.min.js') }}"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='js/main.js') }}"></script>

</body>

</html>