<!DOCTYPE html>
<html lang="en">

<head>
    <title>Diabetes Check</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icons/favicon.ico') }}" />

    <!--===============================================================================================-->
    <!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"> -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">

    <!--===============================================================================================-->

    <!-- <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"> -->
    

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">


    <!--===============================================================================================-->
    <!-- <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css"> -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css') }}">

    
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title">
                    Enter Patient Details
                </span>
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="{{url_for('static', filename='images/img-01.png')}}" alt="IMG">
                </div>

                <form action="/check" >

                    <div class="wrap-input100 ">
                        <input class="input100" type="text" name="pregnant" placeholder="Number of times pregnant">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							
						</span>
                    </div>

                    <div class="wrap-input100 ">
                        <input class="input100" type="text" name="glucose" placeholder="Plasma glucose concentration">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							
						</span>
                    </div>

                    <div class="wrap-input100 ">
                        <input class="input100" type="text" name="bp" placeholder="Diastolic blood pressure (mm Hg)">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							
						</span>
                    </div>

                    <div class="wrap-input100 ">
                        <input class="input100" type="text" name="thickness" placeholder="Triceps skin fold thickness (mm)">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							
						</span>
                    </div>

                    <div class="wrap-input100 ">
                        <input class="input100" type="text" name="insulin" placeholder="2-Hour serum insulin (mu U/ml)">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							
						</span>
                    </div>

                    <div class="wrap-input100 ">
                        <input class="input100" type="text" name="bmi" placeholder="Body mass index">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							
						</span>
                    </div>

                    <div class="wrap-input100 ">
                        <input class="input100" type="text" name="pedigree" placeholder="Diabetes pedigree function">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							
						</span>
                    </div>

                    <div class="wrap-input100 ">
                        <input class="input100" type="text" name="age" placeholder="Age (years)">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							
						</span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
							Login
						</button>
                    </div>

                </form>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='vendor/tilt/tilt.jquery.min.js')}}"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>